<div id="header">
    <div class="container">
        <div class="logo">
            <a href="/">
            {% if site.header_image != null %}
              <img src="{{site.header_image}}" width="200px" alt="site logo" />
            {% else %}
              <img src="assets/images/logo-1.png" width="200px" alt="site logo" />
            {% endif %}
            </a>
        </div>
        <div id="nav">
            <a class="menu_res"><span></span><span></span><span></span></a>
            <div class="nav_inner clearfix">
                <ul>
                    {% assign pages_list = site.pages | sort:"url" %}
                    {% for node in pages_list %}
                    {% if node.title != null %}

                        {% if node.ignoreMenu != true %}
                        <li class="{% if page.url == node.url %} active{% endif %}"><a href="{{node.url}}">{{node.title}}</a></li>
                        {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
