<div id="footer">
    <div class="container">
        <div class="f_links">
            <ul class="clearfix">
                <li><a href="/privacy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="social">
            <ul class="clearfix">
                <li><a href="http://www.facebook.com/ACECentre.uk"><span class="fa fa-facebook"></span></a></li>
                <li><a href="http://twitter.com/ACEcentre"><span class="fa fa-twitter"></span></a></li>
            </ul>
        </div>
        <p>{{site.foot_text}}</p>
    </div>
</div>
