<!DOCTYPE html>
<html>
    {% include theme-head.html %}
    <!-- apply our angular app to our site -->
    <body id="appBody">
        {% include theme-menu.html %}
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="col-2 col-md-2 col-sm-2 col-xs-2"></div>
                    <div class="col-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="rightbar">
                            <div class="top_c">
                                {{ content }}
                            </div>
                        </div>
                    </div>
                    <div class="col-2 col-md-2 col-sm-2 col-xs-2"></div>
                    <div class="ace_logo"><a href="#"><img src="/assets/images/logo-2.png" alt=""></a></div>
                </div>
            </div>
        </div>
        {% include theme-footer.html %}
        {% include theme-analytics.html %}
    </body>
</html>
